//import google fonts - only for HTML, not WP
@import 'import_fonts';
//accent colors variables
//Theme Variables
@import 'variables_template';
//table of contents and colors comments
@import 'table_of_contents';
//common styles for elements
@import 'common';
//styled lists
@import 'lists';
//override for bootstrap
@import 'override';
//main jQuery plugins - owl, flexslider, photoswipe etc.
@import 'plugins';
//bootstrap addons
@import 'addons';
@import 'sections_corners';
//addons common .ls and .ls.ms
@import 'color_sections/ls';
//theme .ls and .ls.ms
@import 'section_light';
@import 'section_grey';
//addons common .ds
@import 'color_sections/ds';
//theme .ds
@import 'section_dark';
//addons common .cs
@import 'color_sections/cs';
//theme .cs
@import 'section_color';
//common components helpers - bootstrap addons
@import 'helpers';
@import 'shortcodes';
@import 'widgets';
@import 'social_icons';
@import 'wordpress/required';
@import 'wordpress/pagination';
//@import 'shop';
@import 'menu';
@import 'header';
@import 'header_side';
@import 'intro';
@import 'subpages';
@import 'template';
//@import 'dashboard';
@import 'switcher_styles';


form {
  border: 1px solid transparent !important;
  transition: border .3s;

  &.error, &.success  {
    .form-state-icon {
      left: -50px;
    }
  }
  &.error {
    input {
      border: 1px solid $colorMain !important;
    }
    .form-state-icon { background: $colorDanger; }
  }

  &.success {
    .form-state-icon { background: $colorSuccess; }
  }

  #mailchimp_email {
    padding-left: 20px;
  }

  i.form-state-icon {
    position: absolute;
    left: 10px;
    top: 13px;
    border-radius: 50%;
    background: $colorDanger;
    width: 35px;
    height: 35px;
    transition: left .3s;
    z-index: -1;

    &:before {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
      color: white;
    }
  }
}

.response {
  &.success { color: $colorSuccess; }
  &.error { color: $colorDanger; }
}

